@use '../abstracts';
.checkout-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  &__breadcrumbs {
    background: var(--checkout-breadcrumbs-bg);
  }
}

.checkout-container {
  margin-top: 30px;
  @include abstracts.screen(md) {
    margin-top: 20px;
  }
}

.cart-info + .cart-info {
  margin-top: 30px;
}

.cart-info {
  padding: 30px;
  border-radius: 20px;
  background: var(--checkout-cart-info-bg);
  box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);

  &__form {
    margin-bottom: 30px;
  }

  &__form-row {
    flex-direction: row;
    gap: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__back-arrow {
    width: 50px;
    padding-right: 20px;
    position: relative;
    top: 5px;
    // padding-right: 20px;
  }

  &__heading {
    // display: flex;
    // align-items: center;

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;

    &--lv2 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 32px; /* 145.455% */
    }
  }

  &__sub-heading {
    margin: 30px 0;
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 146.667%;
  }

  &__list {
    margin-top: -30px;
  }

  &__bottom {
    margin-top: 30px;
  }

  &__continue {
    height: 100%;
    display: flex;
    align-items: flex-end;

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        scale: 1.1;
      }
    }

    &-icon {
      rotate: 90deg;
    }
  }

  &__row,
  &__continue-link {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__row + &__row {
    margin-top: 15px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--bold {
      font-size: 2.2rem;
      font-weight: 700;
    }

    &--md-block {
      @include abstracts.screen(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }
  }

  &__separate {
    margin: 30px 0;
    height: 1px;
    background: var(--checkout-border-color);
  }

  &__btn {
    margin-top: 30px;
  }

  &__sub-label {
    font-weight: 400;
  }

  &__edit-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
  }

  &__checkbox {
    &-input {
      appearance: none;
      &::before {
        content: url('../icons/checkbox-uncheck.svg');
      }

      &:not(&:checked) {
        filter: var(--icon-color);
      }

      &:checked::before {
        content: url('../icons/checkbox-checked.svg');
      }
    }
  }

  &__pay {
    width: 100%;
    border-radius: 10px;
  }

  &__check-all {
    margin: 20px 0;
  }

  &__checkout-all {
    @include abstracts.screen(md) {
    width: 100%;
    }
  }
}

.cart-item {
  display: flex;
  // gap: 30px;
  padding: 30px 0;
  border-bottom: 1px solid var(--checkout-border-color);

  @include abstracts.screen(md) {
    align-items: flex-start;
    padding: 16px 0;
  }

  @include abstracts.screen(sm) {
    // gap: 16px;
    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }

  &__thumb {
    width: 175px;
    height: 175px;
    margin: 0 30px 0 20px;
    object-fit: contain;

    @include abstracts.screen(xxl) {
      width: 150px;
      height: 150px;
    }

    @include abstracts.screen(lg) {
      width: 100px;
      height: 100px;
    }

    @include abstracts.screen(lg) {
      margin: 0 16px;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    column-gap: 20px;

    @include abstracts.screen(md) {
      flex-direction: column;
      gap: 16px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      flex: 1;

      @include abstracts.screen(sm) {
        // padding-right: 10px;
      }
    }

    &-right {
      // flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      @include abstracts.screen(md) {
        align-items: flex-start;
        gap: 13px;
      }
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__price-wrap {
    color: #9e9da8;
    margin: 16px 0;
    font-size: 1.8rem;
    font-weight: 500;

    @include abstracts.screen(md) {
      font-size: 1.6rem;
    }
  }

  &__status {
    color: #67b044;
  }

  &__checkout-btn {
    width: min(200px, 100%);
  }

  &__ctrl-wrap {
    margin-top: auto;
    display: flex;
    gap: 30px;
    align-items: center;

    @include abstracts.screen(xl) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include abstracts.screen(md) {
      gap: 20px;
    }

    @include abstracts.screen(sm) {
      gap: 10px;
    }
  }

  &__ctrl {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include abstracts.screen(md) {
      gap: 10px;
      &--md-block {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__input {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 44px;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid var(--checkout-border-color);
    font-size: 1.5rem;
    font-weight: 500;

    &-btn {
      display: flex;
    }
  }

  &__total-price {
    text-align: right;
    font-size: 2rem;
    line-height: 144.444%;
    font-weight: 700;
  }

  &__ctrl-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #9e9da8;
    height: 44px;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.gift-item {
  display: flex;
  gap: 20px;

  &__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 76px;
    height: 76px;
    border-radius: 14px;
    background: rgba(118, 68, 225, 0.1);

    box-shadow: 0px 20px 60px 10px var(--checkout-gift-shadow);
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #1a162e;
  }

  &__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.user-address {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    @include abstracts.screen(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__btn {
    @include abstracts.screen(md) {
      height: 46px;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 142.857%;
  }

  &__message {
    display: flex;
    margin-top: 30px;
    font-weight: 500;
  }

  &__link {
    color: #0071dc;
  }
}

.address-card {
  margin-top: 30px;
  display: flex;
  gap: 16px;

  @include abstracts.screen(sm) {
    flex-direction: column;
  }

  &__left {
    flex: 1;
    display: flex;
    gap: 16px;
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 1.8;
    width: 90%;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    font-size: 1.4rem;
    line-height: 142.857%;
    list-style: disc inside;
    @include abstracts.screen(lg) {
      margin-top: 10px;
    }

    @include abstracts.screen(sm) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__item {
    margin-left: 8px;
  }

  &__ctrl {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
}

.payment-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  background: var(--checkout-payment-item-bg);

  @include abstracts.screen(sm) {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--pointer {
    cursor: pointer;
  }

  &__thumb {
    width: 70px;
    height: 54px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;

    @include abstracts.screen(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc,
  &__detail {
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 146.667%;
  }

  &__detail {
    margin-top: 0;
    color: #0071dc;
  }

  &__checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
  }

  &__cost {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    color: #9e9da8;
  }

  &__checkbox-input:checked + &__cost {
    color: inherit;
  }
}
