@use '../abstracts';

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%)
    hue-rotate(116deg) brightness(105%) contrast(101%);

  // Header
  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.breakpoints(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }

  // Dropdown
  --dropdown-bg-color: #363e4f;
  --dropdown-shadow: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(25%)
    saturate(567%) hue-rotate(182deg) brightness(96%) contrast(86%);

  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(6%)
  saturate(821%) hue-rotate(180deg) brightness(99%) contrast(98%);
}
