@use '../abstracts';

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);

  @include abstracts.breakpoints(lg) {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flexItemCenter;
  padding: 30px 0;
  position: relative;

  @include abstracts.breakpoints(sm) {
    padding: 16px 0;
  }

  @include abstracts.breakpoints(md) {
    justify-content: space-between;
  }

  @include abstracts.breakpoints(lg) {
    padding: 20px 0;
  }
}

.navbar {
  margin-left: 144px;
  @include abstracts.breakpoints(xl) {
    margin-left: 50px;
    border-radius: 0px 20px 20px 0px;
  }

  @include abstracts.breakpoints(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    background: var(--sidebar-bg);


    margin-left: 0;
    z-index: 99;
    padding: 20px 0;

    translate: -100%;
    transition: translate 0.5s;
    &.show {
      translate: 0;
      box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }

    @include abstracts.breakpoints(sm) {
      inset: 0 20% 0 0;
    }
  }

  &__close-btn {
    display: none;
    @include abstracts.breakpoints(lg) {
      display: block;
      padding: 10px 40px;
    }

    @include abstracts.breakpoints(sm) {
      padding: 0 20px 10px;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.breakpoints(lg) {
      position: fixed;
      z-index: 9;
      inset: 0;

      transition: opacity, visibility;
      transition-duration: 0.5s;

      background: rgb($color: #000, $alpha: 0.4);
    }
  }

  &__list {
    @extend %flexItemCenter;
    @include abstracts.breakpoints(lg) {
      flex-direction: column;
      align-items: flex-start;
      overflow-y: auto;
      overscroll-behavior: contain;
      height: calc(100% - 40px);
    }
    @include abstracts.breakpoints(md) {
      height: calc(100% - 140px);
    }
  }

  &__link {
    @extend %flexItemCenter;
    gap: 6px;
    height: 50px;
    padding: 0 15px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 146.667%;
    @include abstracts.breakpoints(lg) {
      justify-content: space-between;
      padding: 0 40px;
      font-size: 1.6rem;
      line-height: 150%; /* 150% */
    }
    @include abstracts.breakpoints(sm) {
      padding: 0 20px;
      height: 44px;
    }
  }

  &__arrow {
    margin-top: 3px;
    @include abstracts.breakpoints(lg) {
      rotate: -90deg;
      transition: rotate 0.5s;
    }
  }

  &__item--active &__arrow {
    rotate: 0deg;
  }

  &__item {
    &:hover .dropdown {
      display: none;
    }

    @include abstracts.breakpoints(lg) {
      width: 100%;
    }

    &--active .dropdown {
      display: block !important;
    }
  }
}

.top-act {
  @extend %flexItemCenter;
  margin-left: auto;
  @include abstracts.breakpoints(md) {
    margin-left: 0;
  }
  gap: 20px;

  &__group {
    @extend %flexItemCenter;

    min-width: 50px;
    height: 50px;

    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
  }

  &__group--single {
    .top-act__btn {
      padding: 13px;
    }
    @include abstracts.breakpoints(md) {
      display: none;
    }
  }

  &__btn {
    @extend %flexItemCenter;
    gap: 10px;
    padding: 13px 20px;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: block;
    cursor: pointer;
  }
}

.nav-btn {
  height: 50px;
  align-items: center;
  padding: 0 40px;

  @include abstracts.breakpoints(sm) {
    padding: 0 20px;
    height: 44px;
  }

  &__title,
  &__qnt {
    margin-left: 16px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__qnt {
    margin-left: auto;
  }
}
