@use '../abstracts';

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);

  @include abstracts.breakpoints(lg) {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flexItemCenter;
  padding: 30px 0;
  position: relative;

  @include abstracts.breakpoints(sm) {
    padding: 16px 0;
  }

  @include abstracts.breakpoints(md) {
    justify-content: space-between;
  }

  @include abstracts.breakpoints(lg) {
    padding: 20px 0;
  }

  &__more {
    display: none;
    @include abstracts.breakpoints(lg) {
      display: block;
    }
  }
}

.navbar {
  margin-left: 144px;
  @include abstracts.breakpoints(xl) {
    margin-left: 50px;
  }

  @include abstracts.breakpoints(lg) {
    display: none;
  }

  &__list {
    @extend %flexItemCenter;
    // gap: 30px;
    margin-left: -15px;
  }

  &__link {
    @extend %flexItemCenter;
    gap: 6px;
    height: 50px;
    padding: 0 15px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__arrow {
    margin-top: 3px;
  }

  &__item:hover .dropdown {
    display: block;
  }
}

.top-act {
  @extend %flexItemCenter;
  margin-left: auto;
  @include abstracts.breakpoints(md) {
    margin-left: 0;
  }
  gap: 20px;

  &__group {
    @extend %flexItemCenter;

    @include abstracts.breakpoints(md) {
      display: none;
    }

    min-width: 50px;
    height: 50px;

    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
  }

  &__group--single {
    .top-act__btn {
      padding: 13px;
    }
    @include abstracts.breakpoints(md) {
      display: none;
    }
  }

  &__btn {
    @extend %flexItemCenter;
    gap: 10px;
    padding: 13px 20px;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: block;
    cursor: pointer;
  }
}
