// Filter button
.filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;

  color: var(--filter-btn-color);
  height: 36px;
  padding: 0 14px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;

  border-radius: 6px;
  background: var(--filter-btn-bg);
}

.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 50px;
  border-radius: 50%;

  box-shadow: 0px 20px 60px var(--like-btn-shadow);

  &:not(&--liked) &__icon--liked {
    display: none;
  }

  &--liked &__icon {
    display: none;
  }

  &__icon--liked {
    margin-top: 8px;
  }
}

// Buttons
.btn {
  height: 46px;
  padding: 0 20px;
  background: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 6px;
  user-select: none;

  + .btn {
    margin-left: 20px;
  }

  &--text {
    color: #9e9da8;
    font-weight: 400;
    background: transparent;
  }

  &--primary {
    color: #171c28;
    background: #ffb700;
  }

  &--outline {
    background: transparent;
    border: 1px solid #d2d1d6;
  }

  &--rounded {
    border-radius: 99px;
  }

  &[disabled],
  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.9;
  }
}
